footer {
    display: grid;
    width: 100%;
    height: 5%;
    text-align: center;
    background: black;
    color: white;

h2 {
    color: orange;
}    

a{
    font-size: 1em;
    text-decoration: none;
    color: orange;
    padding: 10px;
} 
   
}
