@import '_header.scss';
@import '_footer.scss';

@mixin Background($time, $size){
    transition: all $time ease-in-out;
    transform: scale($size);
    background: orange;
}
body {
    margin: 0;
    padding: 0;
    background: black;
}
main {
    display: grid;
    grid-template-columns: repeat(minmax(250px, 1fr));
    width: 100%;
    background: black;
    padding: 10px;
    place-items: center;

h2{
    color: black;
}
p{
    color: black;
    text-align: center;

}
&:hover{
    @include Background(3s, 0.8);    
}

}